# Игнорировать все .pt и .pth файлы в model/
particleanalyzer/model/*.pt
particleanalyzer/model/*.pth
particleanalyzer/model/*.onnx

# Игнорировать все .yaml файлы в model/
particleanalyzer/model/*.yaml

# Игнорировать файлы в output/
particleanalyzer/output/*.png
particleanalyzer/output/*.jpg
particleanalyzer/output/*.csv
output/*.png
output/*.jpg
output/*.csv

# Игнорировать все в .idea
.idea/*

# Игнорировать все в __pycache__
__pycache__/